


script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3')

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/jquery.ba-cond.min.js")
script(src="js/jquery.slitslider.js")
script(src="js/functions.js")
script(src="js/bootstrap_tabs.min.js")
script(src="js/alexValidate.js")
script(src="bower_components/jquery.bxslider/jquery.bxslider.js")