
header

    .top-line.cf
        .wrap
            .logo
                a(href="/")
                    img(src="img/icons/Logo_gorizont.png")

            //.lang-holder
                a(href="#" class="active" data-request="onSwitchLocale" data-request-data="locale: 'uk'") Укр
                a(href="#" data-request="onSwitchLocale" data-request-data="locale: 'ru'") Рус


            .header-phone

                .phone_list
                    .select
                        a(href="tel:0 800 234 45 67") 0 800 234 45 67
                        .select_toggle
                    ul
                        li
                            a(href="tel:0 800 234 45 67") 0 800 234 45 67


                    //div.show(data-filter="cherkassy")
                        .block_phone
                            a(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
                            a(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73


                        //.block_address вул. Смілянська, буд. 23, оф. 45


                    //div(data-filter="uman")
                        a(href="tel:+38 (0472) 55-55-55") +38 (0472) 55-55-55
                        a(href="tel:+38 (067) 555-55-55") +38 (067) 555-55-55
                //.city
                    span.city_active Черкаси
                    ul
                        li.active(data-filter="cherkassy") Черкаси
                        li(data-filter="uman") Умань
                        li(data-filter="uman") Умань
            .text_header
                .number 280
                .text_holder отримали роботу
            .text_header
                .number 345
                .text_holder отримали візи
            .social

                a(href="https://vk.com/eurocenterua" target="_blank")
                    i.fa.fa-vk
                a(href="http://ok.ru/eurocenterua" target="_blank")
                    i.fa.fa-odnoklassniki
                a(href="https://www.facebook.com/eurocenterua" target="_blank")
                    i.fa.fa-facebook



    #menu-holder
        .wrap
            #menu-icon
                i
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                span.menu_title Меню
            #menu
                ul.nav.nav-tabs
                    li
                        a(href="#main_slider") Головна
                    li
                        a(href="#advantage") Наші переваги
                    li
                        a(href="#visu") Візи

                    li
                        a(href="#jobs") Вакансії
                    li
                        a(href="#how_works") Як це працює
                    li
                        a(href="#faq") Поширені запитання
                    li
                        a(href="#contacts") Контакти




    #main_slider.main_slider
        #slider.sl-slider-wrapper
            .sl-slider
              .sl-slide(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
                .sl-slide-inner
                  .bg-img(style='background-image: url(img/content/slider1.jpg);')
                  .blackoute

                  h2 Легальне працевлаштування в
                        span &nbsp;Європі
                  //blockquote Працівники Євроцентра з радістю допоможуть Вам.
                  //Ми допомагаємо отримати візу в країни Європейського Союзу. Клієнти, звернувшись до нас, стають нашими постійними клієнтами і рекомендують нас своїм знайомим та друзям. Більше 50% нових клієнтів звертаються до нас по рекомендації.
                  a.link_more.open_modal(href="#") дізнатися більше

              .sl-slide(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
                .sl-slide-inner
                  .bg-img(style='background-image: url(img/content/slider2.jpg);')
                  .blackoute

                  h2 Легальне працевлаштування в
                    span &nbsp;Європі
                  //blockquote Легальне працевлаштування в країнах Європейського Союзу. Робота за кордоном - це висока заробітна платня, можливість отримати громадянство, кар'єрне зростання та розширення кругозору і отримання нових знань.


            nav#nav-dots.nav-dots
              span.nav-dot-current
              span













