
header
    .main_slider
        .item(style="background: url('img/content/slider1.jpg') no-repeat;background-size: cover;" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2")
            .slider-holder
                .sl-content-slice
                    .info_slider
                        h2 Віза – це
                            span &nbsp;просто!
                        .text_holder Ми допомагаємо отримати візу в країни Європейського Союзу. Клієнти, звернувшись до нас, стають нашими постійними клієнтами і рекомендують нас своїм знайомим та друзям. Більше 50% нових клієнтів звертаються до нас по рекомендації.


        .item(style="background: url('img/content/slider2.jpg') no-repeat;background-size: cover;")
            .slider-holder
                .sl-content-slice
                    .info_slider
                        h2
                            span Робота в Європі
                        .text_holder Легальне працевлаштування в країнах Європейського Союзу. Робота за кордоном - це висока заробітна платня, можливість отримати громадянство, кар'єрне зростання та розширення кругозору і отримання нових знань.













