
header
    .main_slider
        #slider.sl-slider-wrapper
            .sl-slider
              .sl-slide(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
                .sl-slide-inner
                  .bg-img(style='background-image: url(img/content/slider1.jpg);')
                  .blackoute

                  h2 Віза – це
                    span &nbsp;просто!
                  blockquote Ми допомагаємо отримати візу в країни Європейського Союзу. Клієнти, звернувшись до нас, стають нашими постійними клієнтами і рекомендують нас своїм знайомим та друзям. Більше 50% нових клієнтів звертаються до нас по рекомендації.


              .sl-slide(data-orientation='horizontal', data-slice1-rotation='-25', data-slice2-rotation='-25', data-slice1-scale='2', data-slice2-scale='2')
                .sl-slide-inner
                  .bg-img(style='background-image: url(img/content/slider2.jpg);')
                  .blackoute

                  h2 Робота в
                    span &nbsp;Європі
                  blockquote Легальне працевлаштування в країнах Європейського Союзу. Робота за кордоном - це висока заробітна платня, можливість отримати громадянство, кар'єрне зростання та розширення кругозору і отримання нових знань.


            nav#nav-dots.nav-dots
              span.nav-dot-current
              span













