doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper.home
            include ./header.jade

            .container
                #call_back
                    .wrap
                        h3 Замовити дзвінок

                        form.call_back_form
                            .row
                                div
                                    input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")

                                div
                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")


                                div
                                    input(type="email", placeholder="E-mail:", name="email", data-validate="email")

                                .btn.submit Надіслати
                       .confirm-container-callback.message  Форма успешно отправлена



                #advantage
                        .wrap
                            h3 Наші переваги
                            //hr
                            //.text-advantage.
                                Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,

                            ul
                                li

                                    .number 01

                                    .text-holder
                                        h4 Досвід
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                                li

                                    .number 02
                                    .text-holder
                                        h4 Широкий вибір
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                                li

                                    .number 03
                                    .text-holder
                                        h4 Повний супровід
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар

                                li

                                    .number 04
                                    .text-holder
                                        h4 Безкоштовні консультації
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар

                                li

                                    .number 05
                                    .text-holder
                                        h4 Актуальні вакансії
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                                li

                                    .number 06
                                    .text-holder
                                        h4 Представництво в Польщі
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                #visu
                    .wrap.cf
                        h3 Відкриття віз
                        //hr

                        .tabs
                            .tabs-menu.cf
                                ul.nav.nav-tabs
                                    li(class="active" href="#poland1" data-toggle="tab") Польща
                                    li(href="#lithuania1" data-toggle="tab") Литва
                                    li(href="#netherlands1" data-toggle="tab") Нідерланди
                            .tab-content
                                .tab-pane.active#poland1
                                    .visa_slider1
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price від €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    p.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a.more.open_modal(href="#modal_form") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                .tab-pane#lithuania1
                                    .visa_slider1
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше



                                .tab-pane#netherlands1
                                    .visa_slider1
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше




                #visu.mobile
                    .wrap.cf
                        h3 Відкриття віз
                        //hr

                        .tabs
                            .tabs-menu.cf
                                ul.nav.nav-tabs
                                    li(class="active" href="#poland2" data-toggle="tab") Польща
                                    li(href="#lithuania2" data-toggle="tab") Литва
                                    li(href="#netherlands2" data-toggle="tab") Нідерланди
                            .tab-content
                                .tab-pane.active#poland2
                                    .visa_slider2
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                .tab-pane#lithuania2
                                    .visa_slider2
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше



                                .tab-pane#netherlands2
                                    .visa_slider2
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше


                #jobs
                    .job-holder
                        .wrap
                            h3 Вакансії
                            //hr

                            .tabs
                                .tabs-menu.cf
                                    ul.nav.nav-tabs
                                        li(class="active" href="#poland_jobs1" data-toggle="tab") Польща
                                        li(href="#lithuania_jobs1" data-toggle="tab") Литва
                                        li(href="#netherlands_jobs1" data-toggle="tab") Нідерланди
                                .tab-content
                                    .tab-pane.active#poland_jobs1
                                        .jobs_slider1
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Прибиральниця
                                                   hr
                                                   .job_text
                                                        ul
                                                            li - вакансия для женщин
                                                            li - ЗП — 7-11 злотых за номер
                                                            li - бонус за выработку
                                                            li - трудовой договор
                                                            li - проживание в хостеле
                                                            li - полный социальный пакет


                                                        a(href="#modal_form_job" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li - сезонна робота (липень-вересень)
                                                            li - незалежно від погодних умов
                                                            li - робочий день від 8 годин, 5-6 днів на тиждень
                                                            li - ЗП 8-10 зл / год
                                                            li - Робота для сімейних пар, студентів
                                                            li - житло безкоштовно
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li - вакансія для жінок
                                                            li - ЗП - 8,5 злотих / год
                                                            li - 8-годинна зміна
                                                            li - трудовий договір на 6 міс.
                                                            li - надається житло
                                                            li - потрібно мед. книга
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li - сезонна робота (липень-вересень)
                                                            li - незалежно від погодних умов
                                                            li - робочий день від 8 годин, 5-6 днів на тиждень
                                                            li - ЗП 8-10 зл / год
                                                            li - Робота для сімейних пар, студентів
                                                            li - житло безкоштовно
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li - вакансія для жінок
                                                            li - ЗП - 8,5 злотих / год
                                                            li - 8-годинна зміна
                                                            li - трудовий договір на 6 міс.
                                                            li - надається житло
                                                            li - потрібно мед. книга
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li - вакансія для жінок
                                                            li - ЗП - 8,5 злотих / год
                                                            li - 8-годинна зміна
                                                            li - трудовий договір на 6 міс.
                                                            li - надається житло
                                                            li - потрібно мед. книга
                                                        a(href="#modal_form" class="more open_modal") Детальніше







                                    .tab-pane#lithuania_jobs1
                                        .jobs_slider1
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                    .tab-pane#netherlands_jobs1
                                        .jobs_slider1
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                #jobs.mobile
                    .job-holder
                        .wrap
                            h3 Вакансії
                            //hr

                            .tabs
                                .tabs-menu.cf
                                    ul.nav.nav-tabs
                                        li(class="active" href="#poland_jobs2" data-toggle="tab") Польща
                                        li(href="#lithuania_jobs2" data-toggle="tab") Литва
                                        li(href="#netherlands_jobs2" data-toggle="tab") Нідерланди
                                .tab-content
                                    .tab-pane.active#poland_jobs2
                                        .jobs_slider2
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше







                                    .tab-pane#lithuania_jobs2
                                        .jobs_slider2
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                    .tab-pane#netherlands_jobs2
                                        .jobs_slider2
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                #how_works
                    .wrap
                        h3 Як це працює
                        //hr

                        .works_items
                            .item
                                //.img-holder
                                    img(src="img/content/advantage4.png")
                                .holder-icon
                                    i.fa.fa-mobile


                                .text-holder Звяжіться з нами
                                .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                            .item
                                .holder-icon
                                    i.fa.fa-pencil-square-o
                                //.img-holder
                                    img(src="img/content/advantage3.png")
                                .text-holder Підписання договору
                                .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"


                            .item
                                .holder-icon
                                    i.fa.fa-briefcase
                                //.img-holder
                                    img(src="img/content/advantage6.png")
                                .text-holder Оформлення документів
                                .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                            .item
                                .holder-icon
                                    i.fa.fa-check
                                //.img-holder
                                    img(src="img/content/advantage1.png")

                                .text-holder Отримання візи
                                .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"






                #faq
                    .wrap
                        h3 Поширені запитання
                        //hr
                        .slider_faq
                            .item
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                //.item_faq
                                    h4 Запитання 1
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                            .item
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                //.item_faq
                                    h4 Запитання 1
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,



                #call_back.questions
                    .wrap
                        h3 Залишилися питання?
                        //hr
                        form.call_back_form
                            .row
                                div
                                    input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")

                                div
                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")


                                div
                                    input(type="email", placeholder="E-mail:", name="email", data-validate="email")

                                .btn.submit Надіслати


                #contacts
                    .wrap
                        h3 Контакти
                        //hr
                        .text-holder
                            .phone
                                i.fa.fa-phone
                                h4 Телефони
                                .phone_list
                                    div.show(data-filter="cherkassy")
                                        a(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
                                        a(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73
                                    div(data-filter="uman")
                                        a(href="tel:+38 (0472) 55-55-55") +38 (0472) 55-55-55
                                        a(href="tel:+38 (067) 555-55-55") +38 (067) 555-55-55

                            .address
                                i.fa.fa-map-marker
                                h4 Адреса
                                .address_list
                                    div.show(data-filter="cherkassy")
                                        p
                                            | 18001, м. Черкаси, вул. Смілянська,
                                            br
                                            | буд. 23, оф. 45 (Біля Будинку Торгівлі)
                                    div(data-filter="uman")
                                        p
                                            | 18001, м. Умань, вул. Смілянська,
                                            br
                                            | буд. 23, оф. 45 (Біля Будинку Торгівлі)

                            .social
                                h4 Соціальні мережі
                                a(href="https://vk.com/eurocenterua" target="_blank")
                                   i.fa.fa-vk
                                a(href="http://ok.ru/eurocenterua" target="_blank")
                                   i.fa.fa-odnoklassniki
                                a(href="https://www.facebook.com/eurocenterua" target="_blank")
                                   i.fa.fa-facebook
                        #map1.show(data-filter="cherkassy")
                        #map2(data-filter="uman")
                footer.cf
                    .wrap.cf
                        div © 2013-2016
                            span Євроцентр
                        div розробка:
                            a(href="http://intertechcompany.com/" class="copyright" target="_blank") INTERTECH

            #modal_form.modal_div
                .modal_close
                form.form_visa
                    .title-holder
                        .title_visa Польща (Робоча)
                        .price_visa 120€
                        .time_visa 180/180 днів


                    .form-holder
                        .message_modal  Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")

                        input(type="hidden" name="visa[type]")
                        input(type="hidden" name="visa[country]")
                        input(type="hidden" name="visa[price]")
                        input(type="hidden" name="visa[period]")
                        .btn.submit Надіслати

            #modal_form_job.modal_div
                .modal_close
                form.form_visa
                    .title-holder
                        .title_visa Польща (Робоча)
                        .price_visa 120€
                        .time_visa 180/180 днів


                    .form-holder
                        .message_modal  Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")

                        input(type="hidden" name="job[title]")
                        input(type="hidden" name="job[country]")
                        .btn.submit Надіслати



            #overlay
            include ./footer.jade



