doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper.home
            include ./header.jade

            .container
                #call_back
                    .wrap
                        h3 Замовити дзвінок

                        form.call_back_form
                            .row
                                div
                                    input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")

                                div
                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")


                                div
                                    input(type="email", placeholder="E-mail:", name="email", data-validate="emptyButEmail")

                                .btn.submit Надіслати
                       .confirm-container-callback.message  Форма успешно отправлена



                #advantage
                        .wrap
                            h3 Наші переваги
                            //hr
                            //.text-advantage.
                                Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,

                            ul
                                li

                                    .number 01

                                    .text-holder
                                        h4 Досвід
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                                li

                                    .number 02
                                    .text-holder
                                        h4 Широкий вибір
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                                li

                                    .number 03
                                    .text-holder
                                        h4 Повний супровід
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар

                                li

                                    .number 04
                                    .text-holder
                                        h4 Безкоштовні консультації
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар

                                li

                                    .number 05
                                    .text-holder
                                        h4 Актуальні вакансії
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                                li

                                    .number 06
                                    .text-holder
                                        h4 Представництво в Польщі
                                        p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар


                #visu
                    .wrap.cf
                        h3 Відкриття віз
                        //hr

                        .tabs
                            .tabs-menu.cf
                                ul.nav.nav-tabs
                                    li(class="active" href="#poland1" data-toggle="tab") Польща
                                    li(href="#lithuania1" data-toggle="tab") Литва
                                    li(href="#netherlands1" data-toggle="tab") Нідерланди
                            .tab-content
                                .tab-pane.active#poland1
                                    .visa_slider1
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price від €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    p.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a.more.open_modal(href="#modal_form") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                .tab-pane#lithuania1
                                    .visa_slider1
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше



                                .tab-pane#netherlands1
                                    .visa_slider1
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше




                //#visu.mobile
                    .wrap.cf
                        h3 Відкриття віз
                        //hr

                        .tabs
                            .tabs-menu.cf
                                ul.nav.nav-tabs
                                    li(class="active" href="#poland2" data-toggle="tab") Польща
                                    li(href="#lithuania2" data-toggle="tab") Литва
                                    li(href="#netherlands2" data-toggle="tab") Нідерланди
                            .tab-content
                                .tab-pane.active#poland2
                                    .visa_slider2
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                .title-holder.cf

                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів


                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар



                                                a(href="#modal_form" class="more open_modal") Детальніше

                                .tab-pane#lithuania2
                                    .visa_slider2
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше



                                .tab-pane#netherlands2
                                    .visa_slider2
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €120
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 180/180 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше
                                        .visa_item
                                            .text-holder
                                                .title-holder.cf
                                                    h4 Робоча
                                                    div.price €400
                                                    div.time-holder
                                                        span.name  Період візи:
                                                        span.value.time 360/360 днів
                                                .block_text
                                                    div Оформлення 20 - 40 днів
                                                    div
                                                        span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                    div.text_visa Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар
                                                a(href="#modal_form" class="more open_modal") Детальніше


                #jobs
                    .job-holder
                        .wrap
                            h3 Вакансії
                            //hr

                            .tabs
                                .tabs-menu.cf
                                    ul.nav.nav-tabs
                                        li(class="active" href="#poland_jobs1" data-toggle="tab") Польща
                                        li(href="#lithuania_jobs1" data-toggle="tab") Литва
                                        li(href="#netherlands_jobs1" data-toggle="tab") Нідерланди
                                .tab-content
                                    .tab-pane.active#poland_jobs1
                                        .jobs_slider1

                                            .item_slider
                                                .jobs_item(data-id="10")
                                                    .img-holder
                                                        img(src="img/content/cleaning.jpg")


                                                    .text-holder
                                                       h4 Прибиральниця
                                                       hr
                                                       .job_text
                                                            ul
                                                                li - вакансия для женщин
                                                                li - ЗП — 7-11 злотых за номер
                                                                li - бонус за выработку
                                                                li - трудовой договор
                                                                li - проживание в хостеле
                                                                li - полный социальный пакет


                                                            a(href="#modal_form_job" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/fruit-pickers.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li - сезонна робота (липень-вересень)
                                                                li - незалежно від погодних умов
                                                                li - робочий день від 8 годин, 5-6 днів на тиждень
                                                                li - ЗП 8-10 зл / год
                                                                li - Робота для сімейних пар, студентів
                                                                li - житло безкоштовно
                                                            a(href="#modal_form" class="more open_modal") Детальніше

                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li - вакансія для жінок
                                                                li - ЗП - 8,5 злотих / год
                                                                li - 8-годинна зміна
                                                                li - трудовий договір на 6 міс.
                                                                li - надається житло
                                                                li - потрібно мед. книга
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/welder.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li - сезонна робота (липень-вересень)
                                                                li - незалежно від погодних умов
                                                                li - робочий день від 8 годин, 5-6 днів на тиждень
                                                                li - ЗП 8-10 зл / год
                                                                li - Робота для сімейних пар, студентів
                                                                li - житло безкоштовно
                                                            a(href="#modal_form" class="more open_modal") Детальніше
                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li - вакансія для жінок
                                                                li - ЗП - 8,5 злотих / год
                                                                li - 8-годинна зміна
                                                                li - трудовий договір на 6 міс.
                                                                li - надається житло
                                                                li - потрібно мед. книга
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li - вакансія для жінок
                                                                li - ЗП - 8,5 злотих / год
                                                                li - 8-годинна зміна
                                                                li - трудовий договір на 6 міс.
                                                                li - надається житло
                                                                li - потрібно мед. книга
                                                            a(href="#modal_form" class="more open_modal") Детальніше

                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/welder.jpg")
                                                    .text-holder
                                                        h4 Вакансія
                                                        hr
                                                        .job_text
                                                            ul
                                                                li - сезонна робота (липень-вересень)
                                                                li - незалежно від погодних умов
                                                                li - робочий день від 8 годин, 5-6 днів на тиждень
                                                                li - ЗП 8-10 зл / год
                                                                li - Робота для сімейних пар, студентів
                                                                li - житло безкоштовно
                                                            a(href="#modal_form" class="more open_modal") Детальніше
                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                        h4 Вакансія
                                                        hr
                                                        .job_text
                                                            ul
                                                                li - вакансія для жінок
                                                                li - ЗП - 8,5 злотих / год
                                                                li - 8-годинна зміна
                                                                li - трудовий договір на 6 міс.
                                                                li - надається житло
                                                                li - потрібно мед. книга
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                        h4 Вакансія
                                                        hr
                                                        .job_text
                                                            ul
                                                                li - вакансія для жінок
                                                                li - ЗП - 8,5 злотих / год
                                                                li - 8-годинна зміна
                                                                li - трудовий договір на 6 міс.
                                                                li - надається житло
                                                                li - потрібно мед. книга
                                                            a(href="#modal_form" class="more open_modal") Детальніше

                                            .item_slider
                                                .jobs_item(data-id="10")
                                                    .img-holder
                                                        img(src="img/content/cleaning.jpg")


                                                    .text-holder
                                                        h4 Прибиральниця
                                                        hr
                                                        .job_text
                                                            ul
                                                                li - вакансия для женщин
                                                                li - ЗП — 7-11 злотых за номер
                                                                li - бонус за выработку
                                                                li - трудовой договор
                                                                li - проживание в хостеле
                                                                li - полный социальный пакет


                                                            a(href="#modal_form_job" class="more open_modal") Детальніше





                                    .tab-pane#lithuania_jobs1
                                        .jobs_slider1
                                            .item_slider
                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/cleaning.jpg")


                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/fruit-pickers.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше

                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/welder.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше
                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше
                                    .tab-pane#netherlands_jobs1
                                        .jobs_slider1
                                            .item_slider
                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/cleaning.jpg")


                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/fruit-pickers.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше

                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/welder.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше
                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше


                                                .jobs_item
                                                    .img-holder
                                                        img(src="img/content/pekar.jpg")
                                                    .text-holder
                                                       h4 Вакансія
                                                       hr
                                                       .job_text
                                                            ul
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                                li Список 1
                                                            a(href="#modal_form" class="more open_modal") Детальніше

                //#jobs.mobile
                    .job-holder
                        .wrap
                            h3 Вакансії
                            //hr

                            .tabs
                                .tabs-menu.cf
                                    ul.nav.nav-tabs
                                        li(class="active" href="#poland_jobs2" data-toggle="tab") Польща
                                        li(href="#lithuania_jobs2" data-toggle="tab") Литва
                                        li(href="#netherlands_jobs2" data-toggle="tab") Нідерланди
                                .tab-content
                                    .tab-pane.active#poland_jobs2
                                        .jobs_slider2
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше







                                    .tab-pane#lithuania_jobs2
                                        .jobs_slider2
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                    .tab-pane#netherlands_jobs2
                                        .jobs_slider2
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form" class="more open_modal") Детальніше

                #prezentacia
                    .wrap
                        h3 Запишись на безкоштовну презентацію
                        .img-holder
                            img(src="img/content/computer.png")

                        .text-block.
                             «Перспективи роботи в Європі»! Презентації проводимо кожної суботи о 12й годині за адресою .....,
                             ми розповімо про....
                             Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        a(href="#modal_form_prezentacya" class="link_prezentacya  open_modal") Записатись



                #how_works
                    .wrap
                        h3 Як це працює
                        //hr

                        .works_items
                            .left_item
                                .item

                                    .holder-icon 01


                                    .text-holder Звяжіться з нами
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                                .item
                                    .holder-icon 02

                                    .text-holder Пошук вакансій
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"


                                .item
                                    .holder-icon 03

                                    .text-holder Співбесіда
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                                .item
                                    .holder-icon 04

                                    .text-holder Підписання договору, передоплата 50%
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                                .item

                                    .holder-icon 05

                                    .text-holder Надсилаємо запрошення
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"
                            .right_item
                                .item
                                    .holder-icon 06

                                    .text-holder Оформлення страховки
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"


                                .item
                                    .holder-icon 07

                                    .text-holder Запис в візовий центр
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                                .item
                                    .holder-icon 08


                                    .text-holder Відправка Ваших документів, 50% оплати
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"


                                .item
                                    .holder-icon 09

                                    .text-holder Отримання візи
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"

                                .item
                                    .holder-icon 10


                                    .text-holder Визначаємо день від'їзду
                                    .text_works Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою"










                #faq
                    .wrap
                        h3 Поширені запитання
                        //hr
                        .slider_faq
                            .item
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                //.item_faq
                                    h4 Запитання 1
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                            .item
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                .item_faq
                                    h4 В якому місті Польщі є робота?
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
                                        коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                                //.item_faq
                                    h4 Запитання 1
                                    p.
                                        Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні.
                                        Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,



                #call_back.questions
                    .wrap
                        h3 Залишилися питання?
                        //hr
                        form.call_back_form
                            .row
                                div
                                    input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")

                                div
                                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")


                                div
                                    input(type="email", placeholder="E-mail:", name="email", data-validate="emptyButEmail")

                                .btn.submit Надіслати

                #comment
                    .wrap
                        h3 Відгуки
                        .img-holder
                            img(src="img/icons/comment.png")
                        .list_comment
                            .item
                                .name Максим Максименко
                                .contact
                                    a(href="http://vk.com/max_maximenko") vk.com/max_maximenko
                                .text-block Замовляв польську Шенгенську візу. Оперативно отримав комплект документів, анкету та реєстрацію на подачу документів. У візовому центрі все було без жодних проблем, отримав річну візу. Рекомендую “Євроцентр” без жодних вагань.
                            .item
                                .name Максим Максименко
                                .contact
                                    a(href="http://vk.com/max_maximenko") vk.com/max_maximenko
                                .text-block Замовляв польську Шенгенську візу. Оперативно отримав комплект документів, анкету та реєстрацію на подачу документів. У візовому центрі все було без жодних проблем, отримав річну візу. Рекомендую “Євроцентр” без жодних вагань.

                            .item
                                .name Максим Максименко
                                .contact
                                    a(href="http://vk.com/max_maximenko") vk.com/max_maximenko
                                .text-block Замовляв польську Шенгенську візу. Оперативно отримав комплект документів, анкету та реєстрацію на подачу документів. У візовому центрі все було без жодних проблем, отримав річну візу. Рекомендую “Євроцентр” без жодних вагань.

                            .item
                                .name Максим Максименко
                                .contact
                                    a(href="http://vk.com/max_maximenko") vk.com/max_maximenko
                                .text-block Замовляв польську Шенгенську візу. Оперативно отримав комплект документів, анкету та реєстрацію на подачу документів. У візовому центрі все було без жодних проблем, отримав річну візу. Рекомендую “Євроцентр” без жодних вагань.


                        a(href="#modal_form_comment" class="link_comment open_modal") Залишити відгук
                #contacts
                    .wrap
                        h3 Контакти
                        //hr
                        .text-holder
                            .item
                                i.fa.fa-phone
                                h4 Телефонуйте!
                                .phone_list
                                    div.show
                                        a(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
                                        a(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73

                            .item.email
                                i.fa.fa-envelope
                                h4 Пишіть!
                                .phone_list

                                        a(href="mailto:info@vasharobota.com.ua") info@vasharobota.com.ua
                                        a(href="mailto:info@vasharobota.com.ua") info@vasharobota.com.ua
                            .item
                                i.fa.fa-map-marker
                                h4 Заходьте в гості!
                                .address_list

                                        p
                                            | 18001, м. Черкаси, вул. Смілянська, буд. 23, оф. 45 (Біля Будинку Торгівлі)

                                        p
                                            | 18001, м. Умань, вул. Смілянська, буд. 23, оф. 45 (Біля Будинку Торгівлі)








            footer.cf
                    .wrap.cf
                        div © 2013-2016
                            span ТОВ “ВАША РОБОТА”
                        div розробка:
                            a(href="http://intertechcompany.com/" class="copyright" target="_blank") INTERTECH




            #modal_form.modal_div
                .modal_close
                form.form_visa
                    .title-holder
                        .title_visa
                        .price_visa
                        .time_visa


                    .form-holder
                        .message_modal  Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")

                        input(type="hidden" name="visa[type]")
                        input(type="hidden" name="visa[country]")
                        input(type="hidden" name="visa[price]")
                        input(type="hidden" name="visa[period]")
                        .btn.submit Надіслати
            #modal_form_prezentacya.modal_div
                .modal_close
                form.form_prezentacya
                    .title-holder
                        .title Записатся на презентацию



                    .form-holder
                        .message_modal  Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я:", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")


                        .btn.submit Надіслати
            #modal_form_job.modal_div
                .modal_close
                form.form_visa
                    .title-holder
                        .title_visa Польща (Робоча)
                        .price_visa 120€
                        .time_visa.job_title


                    .form-holder
                        .message_modal  Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я: *", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон: *", name="phone", data-validate="phone")
                        div
                            input(type="text", placeholder="E-mail:", name="email", data-validate="emptyButEmail")
                        div.radio
                            label Відкрита віза є?

                            div
                                input(type="radio", name="visa", value="visa_yes", id="visa_yes")
                                label(for="visa_yes") Да

                            div
                                input(type="radio", name="visa", value="visa_not" id="visa_not", checked="")
                                label(for="visa_not")  Ні

                        div
                            textarea(placeholder="Комментарий:", name="comment")


                        input(type="hidden" name="job[title]")
                        input(type="hidden" name="job[country]")
                        input(type="hidden" name="job[id]")
                        .btn.submit Надіслати


            #modal_form_slider.modal_div
                .modal_close
                form.form_visa
                    .title-holder Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник созд



                    .form-holder
                        .message_modal  Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я: *", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон: *", name="phone", data-validate="phone")
                        div
                            input(type="text", placeholder="E-mail:", name="email", data-validate="emptyButEmail")

                        div
                            textarea(placeholder="Комментарий:", name="comment")


                        .btn.submit Надіслати

            #modal_form_comment.modal_div.modal_form_slider
                .modal_close
                form.form_comment
                    .title-holder
                        .title Залишити відгук


                    .form-holder
                        .message_modal Форма успешно отправлена
                        div
                            input(type="text", placeholder="Ім'я: *", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Ссылка на вашу соц.сеть:", name="link")
                            span Приклад: vk.com/max_maximenko

                        div
                            textarea(placeholder="Комментарий:", name="comment", data-validate="empty")


                        .btn.submit Надіслати


            #overlay
            include ./footer.jade



