doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            .container
                .wrap
                    #call_back
                        h3 Замовити дзвінок
                        hr
                        form.call_back_form
                            .row
                                div
                                    input(type="text", placeholder="Ім'я", name="name", minlength="2", data-validate="name")

                                div
                                    input(type="text", placeholder="Телефон", name="phone", data-validate="phone")


                                div
                                    input(type="email", placeholder="E-mail", name="email", data-validate="email")

                                .btn.submit Надіслати

                    #advantage
                        h3 Наші переваги
                        hr
                        ul
                            li
                                .img-holder
                                    img(src="img/content/advantage1.png")
                                .text-holder
                                    h4 Заголовок
                                    p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                            li
                                .img-holder
                                    img(src="img/content/advantage2.png")
                                .text-holder
                                    h4 Заголовок
                                    p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                            li
                                .img-holder
                                    img(src="img/content/advantage3.png")
                                .text-holder
                                    h4 Заголовок
                                    p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                            li
                                .img-holder
                                    img(src="img/content/advantage4.png")
                                .text-holder
                                    h4 Заголовок
                                    p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                            li
                                .img-holder
                                    img(src="img/content/advantage5.png")
                                .text-holder
                                    h4 Заголовок
                                    p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                            li
                                .img-holder
                                    img(src="img/content/advantage6.png")
                                .text-holder
                                    h4 Заголовок
                                    p Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.

                #visu
                    .wrap.cf
                        h3 Відкриття віз
                        hr

                        .tabs
                            .tabs-menu.cf
                                ul.nav.nav-tabs
                                    li(class="active" href="#poland" data-toggle="tab") Польща
                                    li(href="#lithuania" data-toggle="tab") Литва
                                    li(href="#netherlands" data-toggle="tab") Нідерланди
                            .tab-content
                                .tab-pane.active#poland
                                    .visa_slider
                                        .visa_item
                                            .text-holder
                                                h4 Робоча
                                                div
                                                    span.name Оформлення:
                                                    span.value 20 - 40 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 180/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр

                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше

                                        .visa_item
                                            .text-holder
                                                h4 Робоча
                                                div
                                                    span.name Оформлення:
                                                    span.value 20 - 40 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 400€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр

                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген
                                                div
                                                    span.name Оформлення:
                                                    span.value 10 - 20 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 30€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр

                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                h4 Робоча

                                                div
                                                    span.name Оформлення:
                                                    span.value 10 - 20 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 720/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price  120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген
                                                div
                                                    span.name Оформлення:
                                                    span.value 10 - 20 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price  300€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Робоча

                                                div
                                                    span.name Оформлення:
                                                    span.value 10 - 20 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 720/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price  120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше

                                .tab-pane#lithuania
                                    .visa_slider
                                        .visa_item
                                            .text-holder
                                                h4 Шенген
                                                div
                                                    span.name Оформлення:
                                                    span.value 7 - 14 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 180/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price  120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                h4 Шенген
                                                div
                                                    span.name Оформлення:
                                                    span.value 7 - 14 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price  400€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген


                                                div
                                                    span.name Оформлення:
                                                    span.value 7 - 14 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price  300€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген


                                                div
                                                    span.name Оформлення:
                                                    span.value 7 - 14 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 720/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген


                                                div
                                                    span.name Оформлення:
                                                    span.value 7 - 14 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 300€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген


                                                div
                                                    span.name Оформлення:
                                                    span.value 7 - 14 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 720/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше



                                .tab-pane#netherlands
                                    .visa_slider
                                        .visa_item
                                            .text-holder
                                                h4 Шенген
                                                div
                                                    span.name Оформлення:
                                                    span.value 14 - 25 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 180/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген


                                                div
                                                    span.name Оформлення:
                                                    span.value 14 - 25 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 400€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше




                                        .visa_item
                                            .text-holder
                                                h4 Шенген


                                                div
                                                    span.name Оформлення:
                                                    span.value 14 - 25 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 300€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше



                                        .visa_item
                                            .text-holder
                                                h4 Шенген
                                                div
                                                    span.name Оформлення:
                                                    span.value 14 - 25 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 720/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                        .visa_item
                                            .text-holder
                                                h4 Шенген

                                                div
                                                    span.name Оформлення:
                                                    span.value 14 - 25 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 360/180 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 300€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше




                                        .visa_item
                                            .text-holder
                                                h4 Шенген

                                                div
                                                    span.name Оформлення:
                                                    span.value 14 - 25 днів
                                                div
                                                    span.name  Період візи:
                                                    span.value.time 720/360 днів
                                                div
                                                    span.name  Вартість:
                                                    span.value.price 120€
                                                div
                                                    span.name Додатковий збір:
                                                    span.value Безкоштовна реєстрація, 470 грн - Візовий центр
                                                a(href="#modal_form_poland1" class="more open_modal") Детальніше


                #jobs
                    .job-holder
                        .wrap
                            h3 Вакансії
                            hr

                            .tabs
                                .tabs-menu.cf
                                    ul.nav.nav-tabs
                                        li(class="active" href="#poland_jobs" data-toggle="tab") Польща
                                        li(href="#lithuania_jobs" data-toggle="tab") Литва
                                        li(href="#netherlands_jobs" data-toggle="tab") Нідерланди
                                .tab-content
                                    .tab-pane.active#poland_jobs
                                        .jobs_slider
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше

                                    .tab-pane#lithuania_jobs
                                        .jobs_slider
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше
                                    .tab-pane#netherlands_jobs
                                        .jobs_slider
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/cleaning.jpg")


                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/fruit-pickers.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше

                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/welder.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше
                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше


                                            .jobs_item
                                                .img-holder
                                                    img(src="img/content/pekar.jpg")
                                                .text-holder
                                                   h4 Вакансія
                                                   hr
                                                   .job_text
                                                        ul
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                            li Список 1
                                                        a(href="#modal_form_poland1" class="more open_modal") Детальніше

                #how_works
                    .wrap
                        h3 Як це працює
                        hr
                        .works_items
                            .item
                                .img-holder
                                    img(src="img/content/advantage4.png")
                                .text-holder Узгодження Ваших потреб
                            .item
                                .img-holder
                                    img(src="img/content/advantage3.png")
                                .text-holder Підписання договору

                            .item
                                .img-holder
                                    img(src="img/content/advantage6.png")
                                .text-holder Оформлення документів
                            .item
                                .img-holder
                                    img(src="img/content/advantage1.png")

                                .text-holder Виїзд за кордон в обумовлений термін

            #modal_form_poland1.modal_div

                form.form_visa
                    .title-holder
                        .title_visa Польща (Робоча)
                        .price_visa 120€
                        .time_visa 180/180 днів

                    .form-holder
                        div
                            input(type="text", placeholder="Ім'я", name="name", minlength="2", data-validate="name")
                        div
                            input(type="text", placeholder="Телефон", name="phone", data-validate="phone")

                        .btn.submit Надіслати
                        .btn.modal_close Зачинити
            #overlay
            include ./footer.jade



